---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-square zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}">
                        	<p style="font-size:1.6rem;font-weight:300">{{ site.title }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
			            </a>
                    </h3>
                    <h3 class="title">
                        <a href="{{ site.url }}">
                            <p style="font-size:0.9rem;font-weight:300">{{ site.workplace }}</p>
                        </a>
                    </h3>
                    <hr class="hr-line">
                    <div style="font-size:1rem;font-weight:300;text-align:left;vertical-align:left">
                    <ul>
                        <li><p>08/2023: New projects - Co-PI on <a href="https://tinyurl.com/ntia-ngn-tenoran" target="_blank">NTIA TENORAN</a> and <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2332721&HistoricalAwards=false" target="_blank">NSF SWIFT-SAT</a>.</p></li>
                        <li><p>04/2023: We launched a <a href="https://www.rcrwireless.com/20230420/private-5g/northeastern-university-launches-o-ran-private-5g-network" target="_blank">fully automated private 5G network at Northeastern</a>.</p></li>
                        <li><p>03/2023: I will be TPC Co-Chair for <a href="https://acm-wintech.github.io/2023/" target="_blank">ACM WiNTECH 2023</a> and WONS 2024.</p></li>
                        <li><p><a href="/news" target="_blank">More news and updates here.</a></p></li>
                    </ul>
                    </div>
                    {% include social-links.html %}
                  <hr class="hr-line">
                  <h3 class="title">
                         <p>
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         About
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/publications">
                         Publications
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/service">
                         Service
                         </a>
                         </p>
                         <p>
                         <a class="btn zoombtn" href="{{ site.url }}/teaching">
                         Teaching
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/news">
                         Projects
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/travel">
                         Travel
                         </a>
                         </p>
                 </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
